main{position:absolute;
    margin-left: 21,5%;
    margin-right: 10%;
    margin-top: 15%;}
p {
    margin-top: 40px;
    margin-left: 21,5%;
    color: #100f0f;
    font-size: 18px;
    width: 40%;
}
h1 {color: rgb(226, 43, 226);}