a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
header {
    margin-left: 15%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 14%;
    width: 70%;
}
.logo {
    margin-left: 10%;
    margin-top: 1.25%;
    width: 10%;
}
.nav {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.boutton1 {
    width: fit-content;
    height: 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #170d69;
    margin-left: 25px;
    font-weight: 1000;
}
.boutton {
    width: fit-content;
    height: 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: rgb(117, 117, 117);
    margin-left: 25px;
    font-weight: 1000;
}
.cvpdf {
    width: 50vw;
    height: 140vh;
}
.cvinfo {
    width: 100%;
    right: 0%;
    position: absolute;
    margin-top: 12vw;
    text-align: center;
    padding-bottom: 60px;
}
h1 {
    color: #d05270;
    font-weight: 900;
    font-size: 40px;
}